.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    /* height: 50px; */
    /* z-index: 99999999999; */
    padding: 7px;

    /*Animation*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black {
    background-color: #111;
}

.nav__contents {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.nav__logo {
    /* position: fixed;
    top: 10px; */
    left: 20px;
    width: 80px;
    cursor: pointer;
}

.nav__avatar {
    /* cursor: pointer;
    position: fixed; */
    right: 20px;
    width: 50px;
}