.row {
    color: #fff;
    margin-left: 20px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    transition:  scroll .5s;
    /* scroll-snap-type: x mandatory; */
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    max-height: 100px;
    margin-right: 8px;
    width: 100%;
    cursor: pointer;
    transition: transform 450ms;
    /* object-fit: contain; */
}

.row__poster:hover {
    transform: scale(1.09);
}


.row__posterLarge {
    max-height: 250px;
}